In [1]:
import pandas as pd

 


x = pd.read_excel("Draft.xlsx",sheet_name="Raport Spedytor - przyklad",skiprows=2)

podstawa = 0

for i in range(0,x["Klient"].size-1):
    if "Plastik" in x["Klient"][i]:
        podstawa += x["Prowizja"][i]*0.5
    else :
        podstawa += x["Prowizja"][i]

podstawa

0.0

In [2]:
stawki = pd.read_excel("Draft.xlsx",sheet_name="Stawki prowizji",index_col = 1)
stawki

                ID  ID Teamu ID kalkulacji  Pr√≥g PLN  Stawka %
ID Spedytora
15            1501         1            S2     12000     0.250
15            1501         1            S2     25000     0.300
15            1501         1            S2     35000     0.400
4              403         3            S1     14000     0.080
4              403         3            S1     16000     0.100
4              403         3            S1     18000     0.120
4              403         3            S1     25000     0.150
14            1401         1            S3     12000     0.150
14            1401         1            S3     15000     0.200
14            1401         1            S3     20000     0.300
7              704         4            T1     30000     0.050
7              704         4            T1     60000     0.100
7              704         4            T1     85000     0.110
5              503         3            S1     15000     0.150
13            1301         1            S1     15000     0.100
13            1301         1            S1     20000     0.200
13            1301         1            S1     30000     0.250
13            1301         1            S1     35000     0.280
17            1701         1            S2     12000     0.250
17            1701         1            S2     25000     0.300
17            1701         1            S2     35000     0.400
1              102         2            T2     55000     0.050
1              102         2            T2     70000     0.065
1              102         2            T2    100000     0.080
8              804         4            T1     30000     0.250
8              804         4            T1     60000     0.200
8              804         4            T1     85000     0.210
3              302         2            T2     55000     0.080
3              302         2            T2     70000     0.100
3              302         2            T2    100000     0.120
6              603         3            T3         0     0.300
2              202         2            T2     55000     0.040
2              202         2            T2     70000     0.055
2              202         2            T2    100000     0.070
16            1601         1            S2     12000     0.250
16            1601         1            S2     25000     0.300
16            1601         1            S2     35000     0.400
19            1901         1            S1     16000     0.050
19            1901         1            S1     20000     0.120
19            1901         1            S1     30000     0.150
18            1801         1            S1     16000     0.090
18            1801         1            S1     20000     0.150
18            1801         1            S1     30000     0.200
20            2001         1            S1     15000     0.080
20            2001         1            S1     20000     0.120
20            2001         1            S1     25000     0.200
9              905         5            T1     52000     0.150
9              905         5            T1     60000     0.200
9              905         5            T1     90000     0.300
10            1005         5            T1     52000     0.150
10            1005         5            T1     60000     0.200
10            1005         5            T1     90000     0.300
11            1105         5            T1     52000     0.150
11            1105         5            T1     60000     0.200
11            1105         5            T1     90000     0.300
12            1205         5            T1     52000     0.000
12            1205         5            T1     60000     0.000
12            1205         5            T1     90000     0.000

In [3]:
y = pd.read_excel("Draft.xlsx",sheet_name="Raport Spedytorzy - przyklad",skiprows=2, index_col = 1)
y

,Unnamed: 0,Koszty,Koszty-Waluta,Przych√≥d,Przych√≥d-Waluta,Prowizja,Prowizja-Waluta,Mar≈ºa [%],Zlecenia,≈Åadunki,Unnamed: 11,Km na zleceniach,Km dojazd,Km z ≈Çadunkiem
Spedytor,,,,,,,,,,,,,,
1,NaN,0,tekst,0,tekst,2533,tekst,0,0,0,0,0,0,0
2,NaN,0,tekst,0,tekst,2679,tekst,0,0,0,0,0,0,0
3,NaN,0,tekst,0,tekst,2825,tekst,0,0,0,0,0,0,0
4,NaN,0,tekst,0,tekst,2971,tekst,0,0,0,0,0,0,0
5,NaN,0,tekst,0,tekst,3117,tekst,0,0,0,0,0,0,0
6,NaN,0,tekst,0,tekst,3263,tekst,0,0,0,0,0,0,0
7,NaN,0,tekst,0,tekst,3409,tekst,0,0,0,0,0,0,0
8,NaN,0,tekst,0,tekst,3555,tekst,0,0,0,0,0,0,0
9,NaN,0,tekst,0,tekst,3701,tekst,0,0,0,0,0,0,0
10,NaN,0,tekst,0,tekst,3847,tekst,0,0,0,0,0,0,0
11,NaN,0,tekst,0,tekst,3993,tekst,0,0,0,0,0,0,0
12,NaN,0,tekst,0,tekst,4139,tekst,0,0,0,0,0,0,0
13,NaN,0,tekst,0,tekst,4285,tekst,0,0,0,0,0,0,0
14,NaN,0,tekst,0,tekst,4431,tekst,0,0,0,0,0,0,0
15,NaN,0,tekst,0,tekst,4577,tekst,0,0,0,0,0,0,0
16,NaN,0,tekst,0,tekst,4723,tekst,0,0,0,0,0,0,0
17,NaN,0,tekst,0,tekst,4869,tekst,0,0,0,0,0,0,0
18,NaN,0,tekst,0,tekst,5015,tekst,0,0,0,0,0,0,0
19,NaN,0,tekst,0,tekst,5161,tekst,0,0,0,0,0,0,0
20,NaN,0,tekst,0,tekst,5307,tekst,0,0,0,0,0,0,0

In [4]:
table = pd.merge(stawki, y, left_on="ID Spedytora", right_index=True, how="left", sort=False)
count=table[{"ID Teamu","ID kalkulacji","Prowizja","ID kalkulacji"}].drop_duplicates(keep="first")
count

C:\Users\pawel\AppData\Local\Temp\ipykernel_14928\1455045037.py:2: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  count=table[{"ID Teamu","ID kalkulacji","Prowizja","ID kalkulacji"}].drop_duplicates(keep="first")

              Prowizja  ID Teamu ID kalkulacji
ID Spedytora
15                4577         1            S2
4                 2971         3            S1
14                4431         1            S3
7                 3409         4            T1
5                 3117         3            S1
13                4285         1            S1
17                4869         1            S2
1                 2533         2            T2
8                 3555         4            T1
3                 2825         2            T2
6                 3263         3            T3
2                 2679         2            T2
16                4723         1            S2
19                5161         1            S1
18                5015         1            S1
20                5307         1            S1
9                 3701         5            T1
10                3847         5            T1
11                3993         5            T1
12                4139         5            T1

In [82]:
z = count.sort_values(by=['ID Teamu'])

z[z["ID Teamu"]==1]
k = z.drop_duplicates("ID Teamu")["ID Teamu"].size

S = lambda wynik,stawka,potracenia,dodatki : wynik*stawka-potracenia+dodatki
T1= lambda wynik,stawka,potracenia,dodatki : wynik*stawka-potracenia+dodatki
T2= lambda wynik,stawka,potracenia,dodatki : (wynik*stawka)*0.82-potracenia+dodatki
T3= lambda wynik,stawka,potracenia,dodatki,koszty : (wynik-koszty)*stawka-potracenia+dodatki

for i in range(1,k+1):
     for j in range (1,z[z["ID Teamu"]==i]["ID Teamu"].size):
             if("S" in list(z[z["ID Teamu"]==i]["ID kalkulacji"])[j]):
                  
                  prow = list(z[z["ID Teamu"]==i]["Prowizja"])[j]
                  prog = list(stawki[(stawki.index==z[z["ID Teamu"]==i].index[j])]["Pr√≥g PLN"])
                  stopa = 0
                
                  for k in range(0,len(prog)-1):
                        if (prog[k]-prow)>0 : 
                            stopa = list(stawki[(stawki.index==z[z["ID Teamu"]==i].index[j])]["Stawka %"])[k-1]
                  print(list(z[z["ID Teamu"]==i]["Prowizja"])[j])
                  #print(list(stawki[(stawki.index==z[z["ID Teamu"]==i].index[j])]["Pr√≥g PLN"]))
                  print(stopa)
                  print(S(list(z[z["ID Teamu"]==i]["Prowizja"])[j],stopa,0,0))
                  print(z[z["ID Teamu"]==i].index[j])

h = list(z[z["ID Teamu"]==i]["ID kalkulacji"])
h

5307
0.08
424.56
20
4431
0.15
664.65
14
5015
0.09
451.34999999999997
18
5161
0.05
258.05
19
4285
0.2
857.0
13
4869
0.25
1217.25
17
4723
0.25
1180.75
16
3117
0
0
5
2971
0.1
297.1
4

['T1', 'T1', 'T1', 'T1']